.Container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#100664, #020018); 
}

.title{
    font-size: 85px;
    color: rgb(250, 196, 95);
    animation: flipTitle 2s;
}
@keyframes flipTitle {
   from{
    transform: rotateX(99deg);
   }
   to{
    transform:rotateX(0deg);
   }
}

.ContainerInput{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius:8px;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}

.ContainerInput input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.ContainerInput input::placeholder{
    color:#f1f1f1;
}

.buttonsearch{
    background-color: transparent;
    border: 0;
    display: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.buttonsearch:hover{
    transform: scale(1.2);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    border-radius: 8px;
}

.main h2{
    margin: 16px 0;
    font-size: 16px;
}
.main span{
    margin-bottom: 16px;
    font-weight: bold;
}

@media (max-width: 620px){
    .title{ 
        font-size: 60px;
    }
    .main h2{
        font-size: 25px;
    }
    .main{
        width: 80%;
        min-height: 250px;
    }
}